@import "../../style/spaces.scss";
@import "../../style/typography.scss";

.button {
    @include button();
    padding: 0 $space;
    border-radius: 4px;
    cursor: pointer;

    &:disabled {
        cursor: default;
    }
}