@import "../../style/spaces.scss";

.container {
    padding: $space;
    border-radius: 4px;
    background: white;
    box-sizing: border-box;

    &--bordered {
        border: 1px solid #D9D9D9;
    }
}