@import "../../../../style/spaces.scss";
@import "../../../../style/typography.scss";

.question-line {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;

    &__caption {
        margin: 0 0 $space--smaller;
        @include caption();
    }

    &__item {
        transition: 0.3s background ease-in-out;
        flex-shrink: 0;

        &--active {
            background: #3626A7 !important;
            color: white !important;
        }

        &--correct {
            background: #5E8C61;
        }

        &--skipped {
            background: #ccc;
            color: #333;
        }

        &:not(:last-child) {
            margin-right: $space;
        }
    }
}