@import "../../style/spaces.scss";

.main {
    background: transparent;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;

    .question-line {
        margin-bottom: $space * 3;
    }

    .question-solution {
        margin-top: $space * 3;
    }
}