@import "../../style/spaces.scss";

.main {
    background: transparent;

    .question-line {
        margin-bottom: $space * 3;
    }

    .question-solution {
        margin-top: $space * 3;
    }
}